/* showcase */
#showcase {
    background: url('../img/LocationMap.jpg')
no-repeat center center/cover;
height: 670px; 
width: 100%;
}

#showcase .showcase-content {
    color:rgb(68, 66, 66);
     text-align: center;
     padding-top: 30px;
     background-color: white;
     

    }
 #showcase .showcase-content  h1{
     font-size: 60px;
     line-height: 1.2em;
 }
 
 .lead{
     font-size:20px;
 }

#showcase .showcase-content  p{
    padding-bottom: 20px;
    line-height: 1.7em;
}


